body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: #434455;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
}
.header {
}
.header-navigation {
}
.header-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  
  .header-logo-color {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
  
.header-menu-link {
    color: #2e2f42;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
}
.header-menu-link:hover {
    color: #404bbf;
}
.header-menu-link:focus {
    color: #404bbf;
}

.header-adress {
    font-style: normal
}

.header-adress-link {
    color:  #434455;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;}

.header-adress-link:hover {
    color: #404bbf;}

.header-adress-link:focus {
        color: #404bbf;
    }
    .effective{
   
        background-color:#2e2f42;
        text-align: center;
    }
    .effective-title{
        color: #ffffff;
    
        font-family: "Roboto", sans-serif;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em; 
    }
    
    .effective-btn{
    background-color: #4D5AE5;
    }
.effective-btn{
    color: #ffffff ;
      font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
    }
    .effective-btn:hover{
        background-color: #404BBF;
    }
    .effective-btn:focus{
        background-color: #404BBF;
    }